<div ng-controller="Jobs">
	<div class="row">
		Filters: 
		<input type="checkbox" ng-model="statuses.pending">pending
		<input type="checkbox" ng-model="statuses.fetched">fetched
		<input type="checkbox" ng-model="statuses.started">started
		<input type="checkbox" ng-model="statuses.running">running
		<input type="checkbox" ng-model="statuses.finished">finished
		<input type="checkbox" ng-model="statuses.error">error
		<input type="checkbox" ng-model="statuses.deleted">deleted

	</div>
	<div class="row">
		<table class="table table-condensed table-hover">
			<tr ng-repeat="job in list | jobStatuses: statuses | startFrom: currentPage*pageSize | limitTo: 20">
				<td>{{job.updated | date : 'short'}}</td>
				<td ng-class="{'text-danger': job.status==='error', 'text-success': job.status==='finished', 'text-warning': job.status==='started', 'text-info': job.status==='fetched'}">{{job.action}}</td>
				<td>{{job.status}}</td>
				<td>{{job.agent}}</td>
				<td>{{job.hot_folder}}</td>
				<td>{{job.label_path}}</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<form class="form" ng-submit="submit()" name="addJob">
			<button type="button" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
				{{strings.goback}}
			</button>
			{{currentPage+1}}/{{numberOfPages()}}
			<button type="button" class="btn btn-default" ng-disabled="currentPage >= list.length/pageSize - 1" ng-click="currentPage=currentPage+1">
				{{strings.goforward}}
			</button>
			<button type="submit" class="btn btn-success" ng-click="go('/addJob')">
				{{strings.add}}
			</button>
		</form>
	</div>
</div>
